<div class="container mt-4">
  <h2>{{ id ? 'Editar' : 'Nueva' }} Categoría</h2>
  <form (ngSubmit)="guardar()">
    <div class="mb-3">
      <label>Nombre</label>
      <input class="form-control" [(ngModel)]="categoria.nombre" name="nombre" required>
    </div>
    <div class="mb-3">
      <label>Descripción</label>
      <input class="form-control" [(ngModel)]="categoria.descripcion" name="descripcion">
    </div>
    <button class="btn btn-success">Guardar</button>
    <a routerLink="/categorias" class="btn btn-secondary ms-2">Cancelar</a>
  </form>
</div>